/* Variables */
/* Verified */
/* Standard */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #001736;
}

a {
  color: #001736;
  text-decoration: none;
}

select {
  appearance: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

/* buttons */
.btn {
  cursor: pointer;
  text-align: center;
  padding: 0.75rem 0.5rem;
  background-color: #001736;
  border-radius: 0.25rem;
  color: #FFF;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
  transition: background-color 0.1s;
  height: fit-content;
}
.btn:hover {
  background-color: rgba(0, 23, 54, 0.9);
}

.btn-danger {
  background-color: #e24b4b;
}
.btn-danger:hover {
  background-color: rgba(226, 75, 75, 0.9);
}

.btn-info {
  background-color: #3e8eff;
}
.btn-info:hover {
  background-color: rgba(62, 142, 255, 0.9);
}

.btn-success {
  background-color: #169668;
}
.btn-success:hover {
  background-color: rgba(22, 150, 104, 0.9);
}

.btn-info-disabled {
  cursor: default;
  background-color: rgba(62, 142, 255, 0.7) !important;
}

.nowrap {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.d-flex {
  display: flex;
  gap: 0.25rem;
}

/* Header */
#id_page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #001736;
  border-bottom: 1px solid #FFF;
  z-index: 10;
}
#id_page_header #id_page_logo {
  display: contents;
}
#id_page_header #id_header_navbar {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
#id_page_header #id_header_navbar .navbar-option {
  color: #F5F9FF;
  font-size: 0.75rem;
  font-weight: 600;
}
#id_page_header #id_header_navbar .navbar-option:hover {
  color: #528FF8;
}
#id_page_header #id_header_navbar hr {
  display: none;
}
@media (max-width: 588px) {
  #id_page_header #id_header_navbar {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  #id_page_header #id_header_navbar .navbar-option {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
  }
  #id_page_header #id_header_navbar .navbar-option:hover {
    color: #F5F9FF;
    background-color: rgba(245, 249, 255, 0.2);
  }
  #id_page_header #id_header_navbar hr {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(245, 249, 255, 0.2);
  }
}
@media (max-width: 588px) {
  #id_page_header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

/* Login page */
.div-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F9FF;
}
.div-login .login-content {
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  padding: 2rem;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  width: 100%;
  min-width: 240px;
  max-width: 360px;
  margin: 0.5rem;
}
.div-login .login-content .header-login {
  margin-bottom: 1rem;
}
.div-login #id_form_login label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.div-login #id_form_login .div-input-icon {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 0.75rem;
}
.div-login #id_form_login .div-input-icon svg {
  margin: 0 0.5rem;
}
.div-login #id_form_login .div-input-icon input {
  width: 100%;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
}
.div-login #id_form_login .text-error {
  background-color: rgba(226, 75, 75, 0.05);
  color: #e24b4b;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}
.div-login #id_form_login .btn {
  width: 100%;
}

/* General styles */
main .header-main {
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #dadada;
}
main .header-main h1 {
  color: #001736;
  font-size: 1.25rem;
  margin: 0;
}

.page-customers {
  padding: 2rem;
  max-width: 868px;
  margin: auto;
}
.page-customers h1 {
  margin-bottom: 0.75rem;
}
@media (max-width: 588px) {
  .page-customers h1 {
    font-size: 1.5rem;
  }
}
.page-customers .filters-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0.25rem;
  align-items: end;
  margin: 0.75rem 0;
}
.page-customers .filters-form .filter {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 100%;
}
.page-customers .filters-form .filter:hover {
  border: 1px solid #001736;
}
.page-customers .filters-form .filter-input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.page-customers .filters-form .filter-label {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 0.5rem;
}
.page-customers .filters-form .filter-text {
  grid-column: span 2;
}
.page-customers .filters-form .filter-disabled {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.page-customers .filters-form .filter-disabled .filter-input {
  cursor: default;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.page-customers .filters-form .filter-disabled .filter-label {
  color: rgba(0, 0, 0, 0.5);
}
.page-customers .filters-form .filter-disabled:hover {
  border: 1px solid transparent;
}
.page-customers .filters-form hr {
  grid-column: span 3;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 0.5rem 0;
}
.page-customers .filters-form .filter-btns {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.page-customers .filters-form .filter-btns .select-sort-by {
  border: 1px solid #b6b6b6;
  height: auto;
}
@media (max-width: 588px) {
  .page-customers .filters-form .filter-btns .select-sort-by {
    width: 100%;
  }
}
.page-customers .filters-form .filter-btns .btn {
  font-size: 0.7rem;
  height: auto;
  padding: 0.65rem 2rem;
}
@media (max-width: 588px) {
  .page-customers .filters-form .filter-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .page-customers .filters-form .filter-btns .select-sort-by {
    grid-column: span 2;
  }
}
@media (max-width: 868px) {
  .page-customers .filters-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-customers .filters-form .filter-text {
    grid-column: span 1;
  }
  .page-customers .filters-form .filter-technician, .page-customers .filters-form .filter-btns {
    grid-column: span 2;
  }
  .page-customers .filters-form hr {
    grid-column: span 2;
  }
}
@media (max-width: 588px) {
  .page-customers .filters-form {
    grid-template-columns: 1fr;
  }
  .page-customers .filters-form .filter-technician, .page-customers .filters-form .filter-btns {
    grid-column: span 1;
  }
  .page-customers .filters-form hr {
    grid-column: span 1;
  }
}
.page-customers .import-btns {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.page-customers .import-btns .btn {
  width: fit-content;
  padding: 0.5rem 2rem;
  font-size: 0.7rem;
}
@media (max-width: 588px) {
  .page-customers .import-btns .btn {
    width: 100%;
  }
}
.page-customers .customer-list {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.page-customers .customer-list .customer-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid #dadada;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.page-customers .customer-list .customer-card .colspan-1 {
  grid-column: span 1;
}
.page-customers .customer-list .customer-card .colspan-2 {
  grid-column: span 2;
}
.page-customers .customer-list .customer-card .contract-number {
  font-weight: 700;
  font-size: 1.1rem;
}
.page-customers .customer-list .customer-card .contract-number, .page-customers .customer-list .customer-card .name {
  display: inline-block;
}
.page-customers .customer-list .customer-card .label {
  font-weight: 800;
  font-size: 0.75rem;
}
.page-customers .customer-list .customer-card .customer-data {
  font-size: 0.85rem;
}
.page-customers .customer-list .customer-card .address {
  height: 31.25px;
  overflow: hidden;
}
.page-customers .customer-list .customer-card .p-status {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.page-customers .customer-list .customer-card .p-completed {
  color: #169668;
  background-color: rgba(22, 150, 104, 0.1);
}
.page-customers .customer-list .customer-card .p-assigned {
  color: #f3ad2b;
  background-color: rgba(243, 173, 43, 0.1);
}
.page-customers .customer-list .customer-card .p-closed {
  color: #e24b4b;
  background-color: rgba(226, 75, 75, 0.1);
}
.page-customers .customer-list .customer-card .p-to-assign {
  color: #3e8eff;
  background-color: rgba(62, 142, 255, 0.1);
}
.page-customers .customer-list .customer-card .p-activated {
  color: #169668;
  background-color: rgba(22, 150, 104, 0.05);
}
.page-customers .customer-list .customer-card hr {
  margin: 0.25rem -1rem;
  border: none;
  border-bottom: 1px solid #dadada;
}
.page-customers .customer-list .customer-card:hover {
  border: 1px solid #b6b6b6;
  box-shadow: 0px 0px 4px #dadada;
}
@media (max-width: 868px) {
  .page-customers .customer-list .customer-card {
    padding: 1.25rem 1rem;
  }
  .page-customers .customer-list .customer-card hr {
    margin: 0.5rem -1rem;
  }
}
.page-customers .customer-list .customers-not-found {
  grid-column: span 2;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 0.85rem;
}
@media (max-width: 588px) {
  .page-customers .customer-list {
    grid-template-columns: 1fr;
  }
}
.page-customers .buttons-prev-next {
  display: flex;
  gap: 0.25rem;
}
.page-customers .buttons-prev-next .btn {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
}
.page-customers .buttons-prev-next .btn-disabled {
  cursor: default;
  background-color: rgba(0, 23, 54, 0.5);
}
@media (max-width: 588px) {
  .page-customers {
    padding: 2rem 0.5rem;
  }
  .page-customers .buttons-prev-next {
    justify-content: space-between;
  }
}

.page-customer {
  padding: 2rem 8rem;
  max-width: 868px;
  margin: auto;
}
.page-customer .customer {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
.page-customer h1 {
  margin-bottom: 1rem;
}
.page-customer h1 .contract-number {
  font-weight: 400;
}
@media (max-width: 588px) {
  .page-customer h1 {
    font-size: 1.5rem;
  }
}
.page-customer .customer-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.page-customer .customer-form .data-input {
  display: flex;
  flex-direction: column;
}
.page-customer .customer-form .data-input .text-alert {
  display: none;
}
.page-customer .customer-form .data-input-error .text-alert {
  font-size: 0.75rem;
  font-weight: 700;
  color: #e24b4b;
  display: inline-block;
}
.page-customer .customer-form .data-input-error input, .page-customer .customer-form .data-input-error select, .page-customer .customer-form .data-input-error textarea {
  border: 1px solid #e24b4b;
}
.page-customer .customer-form .label {
  font-weight: 600;
  font-size: 0.85rem;
  margin: 0 0 0.25rem 0.25rem;
}
.page-customer .customer-form input, .page-customer .customer-form select, .page-customer .customer-form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.85rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  resize: none;
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.1);
}
.page-customer .customer-form input:hover, .page-customer .customer-form select:hover, .page-customer .customer-form textarea:hover {
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.page-customer .customer-form .colspan-2 {
  grid-column: span 2;
}
.page-customer .btns {
  width: fit-content;
  margin-left: auto;
}
.page-customer .btns .btn {
  padding: 0.5rem 3rem;
}
.page-customer .orders {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}
.page-customer .orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.page-customer .orders-header .btn {
  padding: 0.5rem 2rem;
}
.page-customer .order-list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: overlay;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 2rem;
}
.page-customer .order-list .order {
  display: block;
  padding: 0.5rem;
  font-size: 0.85rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #FFF;
}
.page-customer .order-list .order:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.page-customer .order-list .order:last-of-type {
  border: none;
}
.page-customer .order-list .order-id {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.page-customer .order-list .order-completed {
  color: #169668;
}
.page-customer .order-list .order-closed {
  color: #e24b4b;
}
.page-customer .order-list .order-to-assign {
  color: #3e8eff;
}
.page-customer .order-list .order-assigned {
  color: #f3ad2b;
}
@media (max-width: 868px) {
  .page-customer {
    padding: 2rem 1rem;
  }
  .page-customer .customer, .page-customer .orders {
    max-width: 39rem;
    margin: 0 auto 1rem auto;
  }
}
@media (max-width: 588px) {
  .page-customer {
    padding: 2rem 0.5rem;
  }
  .page-customer .customer, .page-customer .orders {
    padding: 1rem 0.75rem;
  }
  .page-customer .customer-form {
    grid-template-columns: 1fr;
  }
  .page-customer .customer-form .colspan-2 {
    grid-column: span 1;
  }
  .page-customer .btns {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
  }
  .page-customer .orders-header {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}
@media (max-width: 588px) and (max-width: 588px) {
  .page-customer .orders-header h2 {
    font-size: 1.25rem;
  }
}
@media (max-width: 588px) {
  .page-customer .orders-header .btn {
    display: block;
    width: 100%;
  }
}

.page-order {
  padding: 2rem 1rem;
  max-width: 868px;
  margin: auto;
}
.page-order .order {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 600px;
}
.page-order .order h1 .contract-number {
  font-weight: 400;
}
@media (max-width: 588px) {
  .page-order .order h1 {
    font-size: 1.5rem;
  }
}
.page-order .order hr {
  margin: 1.15rem -2rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.page-order .order .order-label {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}
.page-order .order .order-closed-label {
  color: #e24b4b;
}
.page-order .order .order-completed-label {
  color: #169668;
}
.page-order .order .order-assigned-label {
  color: #f3ad2b;
}
.page-order .order .order-to-assign-label {
  color: #3e8eff;
}
.page-order .order .order-customer-form, .page-order .order .order-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.page-order .order .order-customer-form .data-input, .page-order .order .order-form .data-input {
  display: flex;
  flex-direction: column;
}
.page-order .order .order-customer-form .label, .page-order .order .order-form .label {
  font-weight: 600;
  font-size: 0.85rem;
  margin: 0 0 0.25rem 0.25rem;
}
.page-order .order .order-customer-form input, .page-order .order .order-customer-form select, .page-order .order .order-customer-form textarea, .page-order .order .order-form input, .page-order .order .order-form select, .page-order .order .order-form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.85rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  resize: none;
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.1);
}
.page-order .order .order-customer-form .colspan-2, .page-order .order .order-form .colspan-2 {
  grid-column: span 2;
}
.page-order .order .order-btns {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
  gap: 1px;
}
.page-order .order .btn {
  width: 100%;
  border-radius: 0;
  padding: 0.5rem 0;
  font-size: 0.75rem;
}
.page-order .installation {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  height: fit-content;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 600px;
}
.page-order .installation h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.page-order .installation .order-installation-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}
.page-order .installation .order-installation-form .label {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0 0 0.25rem 0.25rem;
}
.page-order .installation .order-installation-form select, .page-order .installation .order-installation-form input, .page-order .installation .order-installation-form textarea {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  resize: none;
}
.page-order .installation .order-installation-form .inputs-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem;
  grid-column: span 6;
}
.page-order .installation .order-installation-form .colspan-2 {
  grid-column: span 2;
}
.page-order .installation .order-installation-form .colspan-3 {
  grid-column: span 3;
}
.page-order .installation .installation-btns {
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
  gap: 1px;
}
.page-order .installation .installation-btns .btn {
  border-radius: 0;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  width: 100%;
}
.page-order .installation .installation-btns .btn:last-of-type {
  margin: 0;
}
.page-order .installation #id_installation_message {
  display: none;
}
@media (max-width: 588px) {
  .page-order {
    padding: 2rem 0.5rem;
  }
  .page-order .order {
    padding: 1rem 0.75rem;
  }
  .page-order .order .order-customer-form, .page-order .order .order-form {
    grid-template-columns: 1fr;
  }
  .page-order .order .order-customer-form .colspan-2, .page-order .order .order-form .colspan-2 {
    grid-column: span 1;
  }
  .page-order .order .order-btns {
    flex-direction: column;
    gap: 0.25rem;
  }
  .page-order .installation {
    padding: 1rem 0.75rem;
  }
  .page-order .installation .order-installation-form {
    grid-template-columns: 1fr 1fr;
  }
  .page-order .installation .order-installation-form .colspan-2 {
    grid-column: span 1;
  }
  .page-order .installation .order-installation-form .colspan-3 {
    grid-column: span 2;
  }
  .page-order .installation .order-installation-form .inputs-box {
    grid-column: span 2;
  }
  .page-order .installation .installation-btns {
    flex-direction: column;
    gap: 0.25rem;
  }
}

.page-schedule {
  padding: 2rem;
  max-width: 868px;
  margin: auto;
}
.page-schedule .header-page {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.page-schedule .header-page h1 {
  width: fit-content;
}
@media (max-width: 588px) {
  .page-schedule .header-page h1 {
    font-size: 1.5rem;
  }
}
.page-schedule .header-page .btns {
  display: flex;
  gap: 0.25rem;
}
.page-schedule .header-page .btns .btn {
  display: block;
  width: fit-content;
  padding: 0.65rem 1rem;
  font-size: 0.7rem;
}
@media (max-width: 588px) {
  .page-schedule .header-page .btns {
    flex-direction: column;
    width: 100%;
  }
  .page-schedule .header-page .btns .btn {
    width: 100%;
  }
}
@media (max-width: 588px) {
  .page-schedule .header-page {
    align-items: start;
    flex-direction: column;
  }
}
.page-schedule .technician {
  margin-bottom: 4rem;
  overflow: hidden;
  border-collapse: collapse;
}
.page-schedule .technician h2 {
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}
.page-schedule .technician hr {
  margin: 0 0 0.25rem 0;
  border: none;
  border-bottom: 1px solid #000;
}
.page-schedule .technician .orders-date {
  border: 1px solid rgba(0, 23, 54, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.page-schedule .technician .orders {
  padding: 0.25rem;
}
.page-schedule .technician .date {
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(62, 142, 255, 0.2);
  font-weight: 600;
  font-size: 0.85rem;
}
.page-schedule .technician .date-undefined {
  background-color: rgba(243, 173, 43, 0.1);
  color: #f3ad2b;
}
.page-schedule .technician .without-orders {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 2rem;
}
.page-schedule .order {
  display: grid;
  grid-template-columns: 3rem 1fr;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}
.page-schedule .order .order-hour {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.page-schedule .order .order-hour p {
  font-weight: 600;
  font-size: 0.8rem;
}
.page-schedule .order .order-content {
  padding: 0.5rem;
  overflow: hidden;
}
.page-schedule .order .order-content p {
  font-size: 0.8rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0.15rem 0;
}
.page-schedule .order .order-content .order-id {
  font-weight: 700;
  font-size: 0.85rem;
}
.page-schedule .order .order-content .order-address {
  font-weight: 600;
}
.page-schedule .order .order-content b {
  font-weight: 600;
}
@media (max-width: 588px) {
  .page-schedule .order .order-content p {
    text-wrap: wrap;
  }
  .page-schedule .order .order-content .order-id {
    max-height: 2rem;
    margin-bottom: 0.25rem;
  }
  .page-schedule .order .order-content .order-address {
    max-height: 2.8rem;
    margin-bottom: 0.25rem;
  }
}
.page-schedule .order:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.page-schedule .order:last-of-type {
  margin: 0;
}
.page-schedule .order-activated {
  background-color: rgba(22, 150, 104, 0.1);
}
.page-schedule .order-activated:hover {
  background-color: rgba(22, 150, 104, 0.05);
}
@media (max-width: 588px) {
  .page-schedule {
    padding: 2rem 0.5rem;
  }
}

.page-pre-schedule .header-page {
  position: sticky;
  top: 0;
  background-color: #FFF;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.page-pre-schedule .header-content {
  max-width: 868px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.page-pre-schedule .header-content h1 {
  font-size: 1.5rem;
  width: fit-content;
}
@media (max-width: 588px) {
  .page-pre-schedule .header-content h1 {
    font-size: 1.5rem;
  }
}
.page-pre-schedule .header-content .btn {
  display: block;
  width: fit-content;
  padding: 0.65rem 2rem;
  font-size: 0.7rem;
}
@media (max-width: 588px) {
  .page-pre-schedule .header-content {
    flex-direction: column;
  }
  .page-pre-schedule .header-content .btn {
    width: 100%;
  }
}
.page-pre-schedule .order-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 868px;
  margin: auto;
  padding: 0.5rem;
}
.page-pre-schedule .order-list .order {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.page-pre-schedule .order-list .order .customer-info {
  width: 100%;
  font-size: 0.8rem;
}
.page-pre-schedule .order-list .order .customer-info p {
  margin-bottom: 0.25rem;
}
.page-pre-schedule .order-list .order .customer-info .customer-id {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.page-pre-schedule .order-list .order .customer-info .customer-id:hover {
  text-decoration: underline;
}
.page-pre-schedule .order-list .order .customer-info .customer-address {
  height: 1.9rem;
  overflow: hidden;
  font-weight: 500;
}
.page-pre-schedule .order-list .order .customer-info .customer-comment {
  height: 1rem;
  overflow: hidden;
}
.page-pre-schedule .order-list .order .customer-info .label {
  font-size: 0.75rem;
  font-weight: 700;
}
.page-pre-schedule .order-list .order .order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}
.page-pre-schedule .order-list .order .order-info select, .page-pre-schedule .order-list .order .order-info input {
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.72rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.25rem;
}
.page-pre-schedule .order-list .order .order-info #id_customer_confirmation[data-chosen="0"] {
  background-color: rgba(226, 75, 75, 0.2);
}
.page-pre-schedule .order-list .order .order-info #id_customer_confirmation[data-chosen="1"] {
  background-color: rgba(243, 173, 43, 0.2);
}
.page-pre-schedule .order-list .order .order-info #id_customer_confirmation[data-chosen="2"] {
  background-color: rgba(22, 150, 104, 0.2);
}
.page-pre-schedule .order-list .order .order-info #id_customer_confirmation option {
  background-color: #FFF;
}
.page-pre-schedule .order-list .order .order-info label {
  font-size: 0.7rem;
  font-weight: 700;
}
.page-pre-schedule .order-list .order:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px #dadada;
}
@media (max-width: 588px) {
  .page-pre-schedule .order-list .order {
    flex-direction: column;
  }
  .page-pre-schedule .order-list .order .customer-info .customer-address {
    height: 2.85rem;
  }
  .page-pre-schedule .order-list .order .customer-info .customer-comment {
    height: 1.9rem;
  }
  .page-pre-schedule .order-list .order .order-info {
    width: 100%;
    gap: 0.25rem;
  }
}
.page-pre-schedule .order-list hr {
  border: none;
  border-bottom: 2px solid #001736;
  padding: 0;
  margin: 0.5rem 0.25rem;
}

.page-preconfig .header-page {
  position: sticky;
  top: 0;
  background-color: #FFF;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.page-preconfig .header-content {
  max-width: 868px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.page-preconfig .header-content h1 {
  font-size: 1.5rem;
  width: fit-content;
}
@media (max-width: 588px) {
  .page-preconfig .header-content h1 {
    font-size: 1.5rem;
  }
}
.page-preconfig .header-content .btn {
  display: block;
  width: fit-content;
  padding: 0.65rem 2rem;
  font-size: 0.7rem;
}
@media (max-width: 588px) {
  .page-preconfig .header-content {
    flex-direction: column;
  }
  .page-preconfig .header-content .btn {
    width: 100%;
  }
}
.page-preconfig .installation-list {
  max-width: 868px;
  margin: auto;
  padding: 0.5rem;
}
.page-preconfig .installation-list .date {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0, 23, 54, 0.1);
  border-radius: 0.25rem 0.25rem 0 0;
}
.page-preconfig .installation-list hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.page-preconfig .installation-list .installation {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.page-preconfig .installation-list .installation .customer-info {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.page-preconfig .installation-list .installation .installation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  gap: 0.25rem;
}
.page-preconfig .installation-list .installation .installation-info div {
  display: flex;
  gap: 0.25rem;
}
.page-preconfig .installation-list .installation .customer-id {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page-preconfig .installation-list .installation .customer-id:hover {
  text-decoration: underline;
}
.page-preconfig .installation-list .installation .customer-address {
  font-weight: 500;
  font-size: 0.8rem;
  max-height: 1.84rem;
  overflow: hidden;
}
.page-preconfig .installation-list .installation .label {
  font-size: 0.75rem;
  font-weight: 700;
}
.page-preconfig .installation-list .installation input {
  width: 100%;
  padding: 0.45rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.page-preconfig .installation-list .btn {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
@media (max-width: 868px) {
  .page-preconfig .installation-list .customer-info {
    width: 65% !important;
  }
  .page-preconfig .installation-list .installation-info {
    width: 35% !important;
  }
}
@media (max-width: 588px) {
  .page-preconfig .installation-list .installation {
    flex-direction: column;
  }
  .page-preconfig .installation-list .customer-info {
    width: 100% !important;
  }
  .page-preconfig .installation-list .installation-info {
    width: 100% !important;
  }
}

.page-section .section {
  padding: 3rem 0;
}
.page-section .section .section-divider {
  border: none;
  border-bottom: 1px solid #dadada;
  margin: 1rem 0;
}
.page-section .technician-list {
  width: fit-content;
  margin: auto;
}
.page-section .technician-list .technician-name {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}
@media (max-width: 588px) {
  .page-section .technician-list .technician-name {
    text-align: center;
  }
}
.page-section .technician-list .technician-content {
  display: grid;
  grid-template-columns: 3fr 264px;
  max-width: 1140px;
  gap: 0.75rem;
  margin-bottom: 4rem;
  position: relative;
}
@media (max-width: 1144px) {
  .page-section .technician-list .technician-content {
    grid-template-columns: 2fr 264px;
  }
}
@media (max-width: 868px) {
  .page-section .technician-list .technician-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 400px;
  }
}
.page-section .technician-list .orders-message {
  border: 1px solid #b6b6b6;
  border-radius: 0.25rem;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: overlay;
  height: 100%;
  width: 100%;
  position: absolute;
  grid-column: 2/3;
}
.page-section .technician-list .orders-message hr {
  border: none;
  border-bottom: 1px solid #b6b6b6;
}
.page-section .technician-list .orders-message hr:last-of-type {
  display: none;
}
.page-section .technician-list .orders-message .message-without-orders {
  font-size: 0.85rem;
  font-weight: 600;
  color: #b6b6b6;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 0.45rem;
  border-radius: 0.25rem;
}
.page-section .technician-list .orders-message::-webkit-scrollbar {
  width: 1px;
}
.page-section .technician-list .orders-message::-webkit-scrollbar-thumb {
  width: 1px;
  border-radius: 0.25rem;
  background-color: #000;
}
@media (max-width: 868px) {
  .page-section .technician-list .orders-message {
    grid-column: auto;
    grid-row: 2/3;
  }
}
.page-section .technician-list .order-message p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.15rem;
}
.page-section .technician-list .order-message .order-message-contract-number {
  font-weight: 700;
}
.page-section .technician-list .order-message .order-message-address, .page-section .technician-list .order-message .order-message-comment {
  line-height: 0.75rem;
  margin-top: 0.25rem;
  display: inline-block;
}
.page-section .technician-orders {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  gap: 0.75rem;
  height: fit-content;
}
.page-section .technician-orders .order {
  border: 1px solid #001736;
  border-radius: 0.25rem;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.page-section .technician-orders .order hr {
  margin: 0.5rem -0.75rem;
  border: none;
  border-bottom: 1px solid #dadada;
  grid-column: span 2;
}
.page-section .technician-orders .order .order-header {
  font-weight: 700;
  font-size: 0.95rem;
  grid-column: span 2;
}
.page-section .technician-orders .order .order-text {
  max-height: 29.41px;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.page-section .technician-orders .order .order-address {
  height: 29.41px;
}
.page-section .technician-orders .order .label {
  font-weight: 700;
  font-size: 0.75rem;
}
.page-section .technician-orders .order .columns-2 {
  grid-column: span 2;
}
.page-section .technician-orders .orders-date {
  grid-column: 1/-1;
  font-weight: 800;
  font-size: 0.9rem;
  color: #001736;
  text-align: center;
  margin-top: 2rem;
}
.page-section .technician-orders .orders-date:first-child {
  margin: 0;
}
.page-section .technician-orders .p-technician-without-orders {
  padding: 1rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.5);
  grid-column: span 3;
}
@media (max-width: 588px) {
  .page-section .technician-orders .p-technician-without-orders {
    grid-column: 1;
  }
}
@media (max-width: 1144px) {
  .page-section .technician-orders {
    grid-template-columns: repeat(2, 264px);
  }
}
@media (max-width: 588px) {
  .page-section .technician-orders {
    grid-template-columns: 1fr;
    max-width: 344px;
  }
}

#id_alert_messages {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0 auto;
  max-width: 480px;
  justify-content: center;
  z-index: 20;
  background-color: transparent;
  border-radius: 0.5rem;
  overflow: hidden;
}
#id_alert_messages .message {
  background-color: #FFF;
  padding: 0.75rem;
  border: 2px solid #dadada;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
#id_alert_messages .message p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
#id_alert_messages .message .btn-close {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
