{% extends "core.html" %}

{% load static %}
{% load order_control_extras %}
{% block title %}Cliente{% endblock title %}

{% block content %}
    {% with order=customer.orders|last_order  %}
        {% if order.technician != user.technician and not user.is_superuser %}
            <meta http-equiv="REFRESH" content="0;url={% url 'customer-list' %}">
        {% endif %}
        {% if order.closed and not user.is_superuser %}
            <meta http-equiv="REFRESH" content="0;url={% url 'customer-list' %}">
        {% endif %}  
    {% endwith %}

    <main>
        <div class="page-customer">
            <div class="customer">
                <h1>Cliente: <span class="contract-number">{{ form.instance.pk }}</span></h1>
                <form class="customer-form" method="post" id="id_form_customer_update">
                    {% if user.is_superuser %}
                        {% csrf_token %}
                    {% endif %}
                    <div class="data-input">
                        <label class="label" for="id_contract_number">Nro. De Contrato*</label>
                        {{ form.contract_number }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_category">Categoría</label>
                        {{ form.category }}
                    </div>
                    <div class="data-input colspan-2 {% if form.customer_name.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_customer_name">Nombre Del Cliente* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.customer_name }}
                    </div>
                    <div class="data-input colspan-2 {% if form.address.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_address">Dirección* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.address }}
                    </div>
                    <div class="data-input {% if form.phone_1.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_phone_1">Teléfono 1* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.phone_1 }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_phone_2">Teléfono 2</label>
                        {{ form.phone_2 }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_plan">Plan</label>
                        {{ form.plan }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_customer_type">Tipo De Cliente</label>
                        {{ form.customer_type }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_assigned_to">Asignado a</label>
                        {{ form.assigned_to }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_seller">Vendedor</label>
                        {{ form.seller }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_date_assigned">Fecha Asignada</label>
                        {{ form.date_assigned }}
                    </div>
                    <div class="data-input colspan-2">
                        <label class="label" for="id_comment">Observaciones</label>
                        {{ form.comment }}
                    </div>
                </form>
                {% if user.is_superuser %}
                <div class="btns">
                    <button type="submit" class="btn btn-submit" onclick="submit_form('id_form_customer_update', '¿Está seguro que desea realizar estos cambios?')">Editar</button>
                    <button type="submit" class="btn btn-danger" onclick="submit_button(`{% url 'customer-delete' customer.pk %}`, '¿Está seguro de eliminar este cliente?')" >Eliminar</button>
                </div>
                {% endif %}    
            </div>
            <div class="orders">
                <div class="orders-header">
                    <h2>Órdenes</h2>
                    {% if user.is_superuser %}
                        {% with order=customer.orders|last_order %}
                            <a class="btn btn-info" {% if not order or order.closed %}href="{% url 'order-create' customer.pk %}"{% endif %}>Crear Orden</a>
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="order-list">
                    {% for order in customer.orders.all|order_by_date_created %}
                        <a class="order" href="{% url 'order-update' order.pk %}">
                            <p class="order-id">OR-{{ order.pk }}: {% if order.completed %}<span class="order-status-label order-completed">Orden finalizada</span>{% elif order.closed %}<span class="order-status-label order-closed">Orden cancelada</span>{% elif order.technician %}<span class="order-status-label order-assigned">Orden asignada</span>{% else %}<span class="order-status-label order-to-assign">Orden por asignar</span>{% endif %}</p>
                            <div class="order-extra">
                                {% if order.extra_order_comment %}
                                    <p>{{ order.extra_order_comment }}</p>
                                {% elif order.technician %}
                                    <p>{{ order.technician }} - {% if order.date_assigned %}{{ order.date_assigned|date:"d/m/Y" }}{% endif %}</p>
                                {% else %}
                                    --- ---
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <!-- MESSAGES -->
    {% if messages %}
        <div id="id_alert_messages">
            {% for message in messages %}
                <div class="message">
                    <p>{{ message }}</p>
                    <a class="btn-close" onclick="(function() {document.getElementById('id_alert_messages').style.display = 'none';})()"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Menu / Close_SM"> <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- IF NOT SUPERUSER -->
    {% if not user.is_superuser %}
        <script>
            window.onload = () => {
                deactive_form('id_form_customer_update')
            }
        </script>
    {% endif %}
    
{% endblock content %} 