{% extends "core.html" %}

{% load static %}
{% load order_control_extras %}
{% block title %}Cliente{% endblock title %}

{% block content %}
    {% if not user.is_superuser %}
        <meta http-equiv="REFRESH" content="0;url={% url 'customer-list' %}">
    {% endif %}
    <main>
        <div class="page-customer">
            <div class="customer">
                <h1>Añadir Cliente</h1>
                <form class="customer-form" method="post" id="id_form_customer_add">
                    {% if user.is_superuser %}
                        {% csrf_token %}
                    {% endif %}
                    <div class="data-input {% if form.contract_number.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_contract_number">Nro. De Contrato* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.contract_number }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_category">Categoría</label>
                        {{ form.category }}
                    </div>
                    <div class="data-input colspan-2 {% if form.customer_name.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_customer_name">Nombre Del Cliente* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.customer_name }}
                    </div>
                    <div class="data-input colspan-2 {% if form.address.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_address">Dirección* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.address }}
                    </div>
                    <div class="data-input {% if form.phone_1.errors %}data-input-error{% endif %}">
                        <label class="label" for="id_phone_1">Teléfono 1* <span class="text-alert"> - Campo Obligatorio</span></label>
                        {{ form.phone_1 }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_phone_2">Teléfono 2</label>
                        {{ form.phone_2 }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_plan">Plan</label>
                        {{ form.plan }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_customer_type">Tipo De Cliente</label>
                        {{ form.customer_type }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_assigned_to">Asignado a</label>
                        {{ form.assigned_to }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_seller">Vendedor</label>
                        {{ form.seller }}
                    </div>
                    <div class="data-input">
                        <label class="label" for="id_date_assigned">Fecha Asignada</label>
                        {{ form.date_assigned }}
                    </div>
                    <div class="data-input colspan-2">
                        <label class="label" for="id_comment">Observaciones</label>
                        {{ form.comment }}
                    </div>
                </form>
                {% if user.is_superuser %}
                <div class="btns">
                    <button type="submit" class="btn btn-submit" onclick="submit_form('id_form_customer_add', '¿Está seguro que desea añadir este cliente?')">Añadir</button>
                </div>
                {% endif %}    
            </div>
        </div>
    </main>
{% endblock content %}