{% extends "core.html" %}

{% load static %}
{% load order_control_extras %}
{% block title %}Clientes{% endblock title %}

{% block content %}
    <main>
        <div class="page-customers">
            <h1>Clientes</h1>
            {% if user.is_superuser %}
                <div class="import-btns">
                    <form action="{% url 'load-excel' %}" method="post" enctype="multipart/form-data" id="select-excel-file" style="display: none;">
                        {% csrf_token %}
                        <input type="file" name="excel_file" id="input-excel-file" onchange="this.form.submit()" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display: none;">
                    </form>
                    <button class="btn" onclick="document.getElementById('input-excel-file').click()">Importar .xlsx</button>
                    <a class="btn" href="{% url 'customer-create' %}">Añadir +</a>
                </div>
            {% endif %} 
            <div class="filters">
                <form method="get" class="filters-form">
                    <div class="filter filter-text">
                        <input type="text" name="search-text" id="id_text_search" class="filter-input" placeholder="Buscar..." value="{{ search_text }}">
                    </div>
                    <div class="filter">
                        <label for="id_status_search" class="filter-label">Status: </label>
                        <select id="id_status_search" class="filter-input" name="status" onchange="active_inputs(this)">
                            <option value="none" {{ status_opt_1 }}>--- ---</option>
                            <option value="status_completed" {{ status_opt_2 }}>Instalación finalizada</option>
                            <option value="status_assigned" {{ status_opt_3 }}>Instalación asignada</option>
                            {% if user.is_superuser %}
                                <option value="status_to_assign" {{ status_opt_4 }}>Instalación por asignar</option>
                                <option value="status_closed" {{ status_opt_5 }}>Instalación cancelada</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="filter filter-assigned-customer">
                        <label for="id_min_date" class="filter-label">Desde: </label>
                        <input type="date" name="min-date" id="id_min_date" class="filter-input" value="{{ min_date }}" onchange="check_dates()">
                    </div>
                    <div class="filter filter-assigned-customer">
                        <label for="id_max_date" class="filter-label">Hasta: </label>
                        <input type="date" name="max-date" id="id_max_date" class="filter-input" value="{{ max_date }}" onchange="check_dates()">
                    </div>
                    <div class="filter filter-assigned-customer filter-technician">
                        <label for="id_select_technician" class="filter-label">Técnico: </label>
                        <select name="technician" id="id_select_technician" class="filter-input">
                            <option value="">--- ---</option>
                            {% for technician in technicians %}
                                <option value="{{ technician.code }}" {% if technician.code == selected_technician %}selected{% endif %}>{{ technician.user.first_name }} {{ technician.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <div class="filter-btns">
                        <div class="filter select-sort-by">
                            <label for="id_sort_by" class="filter-label">Ordenar:</label>
                            <select id="id_sort_by" class="filter-input" name="sort-by">
                                <option value="-date_created" {{ sort_opt_1 }}>Fecha de creación</option>
                                <option value="date_created" {{ sort_opt_2 }}>Fecha de creación (-)</option>
                                <option value="-date_assigned" {{ sort_opt_3 }}>Fecha Recibida</option>
                                <option value="date_assigned" {{ sort_opt_4 }}>Fecha Recibida (-)</option>
                                <option value="-pk" {{ sort_opt_5 }}>Nro. De Contrato</option>
                            </select>
                        </div>
                        <input class="btn btn-info" type="submit" value="Aplicar filtros">
                        {% if user.is_superuser %}
                            <a class="btn btn-success" href="customer/export?search-text={{ search_text }}&status={{ status }}&sort-by={{ sort_by }}&technician={{ selected_technician }}&min-date={{ min_date }}&max-date={{ max_date }}">Exportar</a>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="customer-list">
                {% for customer in customer_list %}
                    <a href="{% url 'customer-update' customer.pk %}" class="customer-card">
                        <div class="colspan-2">
                            <p class="contract-number">{{ customer.contract_number }}</p>
                        </div>
                        <hr class="colspan-2">
                        <div class="colspan-2">
                            <p class="label">Nombre Cliente</p>
                            <p class="customer-data name">{{ customer.customer_name }}</p>
                        </div>
                        <div class="colspan-2">
                            <p class="label">Dirección</p>
                            <p class="customer-data address">{{ customer.address }}</p>
                        </div>
                        <div class="colspan-1">
                            <p class="label">Nro. Teléfono</p>
                            <p class="customer-data phone_1">{{ customer.phone_1 }}</p>
                        </div>
                        <div class="colspan-1">
                            <p class="label">Plan</p>
                            <p class="customer-data plan">{{ customer.get_plan_display }}</p>
                        </div>
                        <div class="colspan-1">
                            <p class="label">Categoría</p>
                            <p class="customer-data phone_1">{{ customer.get_category_display }}</p>
                        </div>
                        <div class="colspan-1">
                            <p class="label">Fecha Recibido</p>
                            <p class="customer-data assigned_date">{% if customer.date_assigned %}{{ customer.date_assigned|date:"d/m/Y" }}{% else %}--- ---{% endif %}</p>
                        </div>
                        <hr class="colspan-2">
                        {% with order=customer.orders.all|last_order %}
                            {% if order.technician or order.completed %}
                                <div class="colspan-1">
                                    <p class="label">Técnico</p>
                                    <p class="customer-data technician">{% if order.technician %}{{ order.technician.user.first_name }} {{ order.technician.user.last_name }}{% else %}--- ---{% endif %}</p>
                                </div>
                                <div class="colspan-1">
                                    <p class="label">Fecha asignada</p>
                                    <p class="customer-data technician_assigned_date">{% if order.date_assigned %}{{ order.date_assigned|date:"d/m/Y | H:i" }}{% else %}--- ---{% endif %}</p>
                                </div>
                            {% else %}
                                <div class="colspan-2">
                                    <p class="label">Información extra</p>
                                    <p class="comment">{% if order.extra_order_comment %}{{ order.extra_order_comment }}{% else %}--- ---{% endif %}</p>
                                </div>
                            {% endif %}
                            <div class="colspan-2">
                                {% if order.closed %}<p class="p-status p-closed">Instalación cancelada</p>
                                {% elif order.completed %}<p class="p-status p-completed">Instalación finalizada</p>
                                {% elif order.technician %}<p class="p-status p-assigned">Instalación asignada</p>
                                {% else %}<p class="p-status p-to-assign">Instalación por asignar</p>
                                {% endif %}
                            </div>
                        {% endwith %}
                    </a>
                {% empty %}
                    <p class="customers-not-found">Sin resultados</p>
                {% endfor %}
            </div>
            <div class="buttons-prev-next">
                <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}&search-text={{ search_text }}&status={{ status }}&sort-by={{ sort_by }}&technician={{ selected_technician }}&min-date={{ min_date }}&max-date={{ max_date }}" class='btn btn-prev'{% else %} class="btn btn-prev btn-disabled" {% endif %}>< Anterior</a>
                <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}&search-text={{ search_text }}&status={{ status }}&sort-by={{ sort_by }}&technician={{ selected_technician }}&min-date={{ min_date }}&max-date={{ max_date }}" class='btn btn-next'{% else %} class="btn btn-next btn-disabled" {% endif %}>Siguiente ></a>
            </div>
        </div>
    </main>

    <!-- MESSAGES -->
    {% if messages %}
        <div id="id_alert_messages">
            {% for message in messages %}
                <div class="message" id="message_{{ forloop.counter }}">
                    <p>{{ message }}</p>
                    <a class="btn-close" onclick="(function() {document.getElementById('message_{{ forloop.counter }}').style.display = 'none';})()"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Menu / Close_SM"> <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        function check_dates() {
            min_date = document.querySelector('#id_min_date')
            max_date = document.querySelector('#id_max_date')
            try {
                max_date.min = min_date.value
            } catch (error) {}
            try {
                min_date.max = max_date.value
            } catch (error) {}
        }
        function active_inputs(select_input) {
            min_date = document.querySelector('#id_min_date')
            max_date = document.querySelector('#id_max_date')
            technician_input = document.querySelector('#id_select_technician')
            if (select_input.value == 'status_completed' || select_input.value == 'status_assigned' || select_input.value == 'status_closed' ) {
                min_date.disabled = false
                max_date.disabled = false
                technician_input.disabled = false
                document.querySelectorAll('.filter-assigned-customer').forEach((element) => {
                    element.classList.remove('filter-disabled')
                })
            } else {
                min_date.disabled = true
                max_date.disabled = true
                technician_input.disabled = true
                
                document.querySelectorAll('.filter-assigned-customer').forEach((element) => {
                    element.classList.add('filter-disabled')
                })

            }
        }
        check_dates()
        active_inputs(document.querySelector('#id_status_search'))
    </script>

{% endblock content %}